# Exercises

Download the dataset from http://yelp.com/dataset_challenge

Use the business table to answer questions 1-4.

## 1. Create a new column that contains only the zipcode.

In [57]:
import simplejson
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
data=[]
with open('yelp_academic_dataset_business.json') as json_data:
    for row in json_data:
        data.append(simplejson.loads(row))
#print(data[0])
data2=data[0:5000]
zipcode_col=[]
for item in data2:
    address=item['full_address']
    #print(address)
    address2=address.split(' ')
    length=len(address2)
    #print(address2)
    #zipcode=address2[1].split(' ')
    zipcode=address2[length-1]
    zipcode_col.append(zipcode)

## 2. The table contains a column called 'categories' and each entry in this column is populated by a list. We are interested in those businesses that are restaurants. Create a new column 'restaurant_type' that contains a description of the restaurant based on the other elements of 'categories. 
That is, if we have '[Sushi Bars, Japanese, Restaurants]' in categories the 'restaurant_type will be '{'SushiBars': 1, 'Japanese': 1, 'Mexican': 0, ...}'

In [58]:
category_col=[]
category_elm=[]
for item in data2:
    category=item['categories']
    if 'Restaurants' in category:
        for item1 in category:
            if item1 != 'Restaurants':
                if item1 not in category_elm:
                    category_elm.append(item1)
#print(category_elm)  
for item in data2:
    dict_cat={}
    for item2 in category_elm:
        dict_cat[item2]=0
    category=item['categories']
    if 'Restaurants' in category:
        for item1 in category:
            if item1 != 'Restaurants':
                dict_cat[item1]=1
        category_col.append(dict_cat)
    else:
        category_col.append(dict_cat)
#print(category_col)

## 3. Lets clean the 'attributes' column. The entries in this column are dictionaries. We need to do two things:

 - Turn all the True or False values in the dictionary to 1 and 0.

 - There are some entries within dictionaries that are dictionaries themselves, lets turn the whole entry into just one dictionary, for example if we have

  '{'Accepts Credit Cards': True, 'Alcohol': 'none','Ambience': {'casual': False,'classy': False}}'

 then turn it into

 '{'Accepts Credit Cards':1, 'Alcohol': 0, 'Ambience_casual': 0, 'Ambience_classy': 0}'.

 There might be other entries like {'Price Range': 1} where the values are numerical so we might want to change that into {'Price_Range_1': 1}.

In [59]:
attributes_col_all=[]
for item in data2:
    attributes_col={}
    dict_dummy={}
    item_attri=item['attributes']
    for item2 in item_attri:
        if type(item_attri[item2]) != type(dict_dummy):
            if item2 not in attributes_col:
                if item_attri[item2]==False:
                    attributes_col[item2]=0
                elif item_attri[item2]==True:
                    attributes_col[item2]=1
                else:
                    attributes_col[item2]=item_attri[item2]
        else:
            item_attri_2=item_attri[item2]
            for item3 in item_attri_2:
                new_key=item2+'_'+item3
                if new_key not in attributes_col:
                    if item_attri_2[item3]==True:
                        attributes_col[new_key]=1
                    elif item_attri_2[item3]==False:
                        attributes_col[new_key]=0
                    else:
                        attributes_col[new_key]=item_attri_2[item3]
    attributes_col_all.append(attributes_col)
#print(attributes_col_all)

## 4. Create a new column for every day of the week and fill it with the amount of hours the business is open that day.

In [60]:
Monday_col=[]
Tuesday_col=[]
Wednesday_col=[]
Thursday_col=[]
Friday_col=[]
Saturday_col=[]
Sunday_col=[]
dict_weekcol={'Monday':Monday_col,'Tuesday':Tuesday_col,'Wednesday':Wednesday_col,'Thursday':Thursday_col,'Friday':Friday_col,'Saturday':Saturday_col,'Sunday':Sunday_col}
Weekdays=set(['Friday','Thursday','Wednesday','Tuesday','Monday','Sunday','Saturday'])
for item in data2:
    item_hours=item['hours']
    Weekdays_items=item_hours.keys()
    for day in set(Weekdays_items):
        item_hours_day=item_hours[day]
        hours_close=item_hours_day['close']
        hours_close=hours_close.split(':')
        hours_close=int(hours_close[0])+int(hours_close[1])/60.0
        hours_open=item_hours_day['open']
        hours_open=hours_open.split(':')
        hours_open=int(hours_open[0])+int(hours_open[1])/60.0
        num_hours_open=hours_close-hours_open
        dict_weekcol[day].append(num_hours_open)
    for day in Weekdays-set(Weekdays_items):
        dict_weekcol[day].append(float('nan'))

## 5. Create a table with the average star review for a business from the review table.

##  6. Create a new table that only contains restaurants with the following schema:
Business_Name | Restaurant_type | Friday hours | Saturday hours | Attributes | Zipcode | Average Rating